body{
    background-color: aquamarine;
    color: black;
}

@media (max-width:650px){
body{
    background-color: #b3f0ff;
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
}

.box{
    background-color: azure;
    color: black;
    border: 10px solid black;
    text-align: center;

}